@charset "UTF-8";
/* Está folha de estilo será chamada em todas as páginas */

@font-face {
    font-family: 'PTSerif-Bold';
    src: url('../_fonts/PTSerif/PTSerif-Bold.ttf');
}

@font-face {
    font-family: 'PTSerif-BoldItalic';
    src: url('../_fonts/PTSerif/PTSerif-BoldItalic.ttf');
}

@font-face {
    font-family: 'PTSerif-Italic';
    src: url('../_fonts/PTSerif/PTSerif-Italic.ttf');
}

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('../_fonts/PTSerif/PTSerif-Regular.ttf');
}

.pt-serif-bold {
    font-family: 'PTSerif-Bold';
}

.pt-serif-bold-italic {
    font-family: 'PTSerif-BoldItalic';
}

.pt-serif-italic {
    font-family: 'PTSerif-Italic';
}

.pt-serif-regular {
    font-family: 'PTSerif-Regular';
    font-size: 1em;
}

.navbar-brand,
#navbarNavDropdown .navbar-nav {
    padding: 0.5em !important;
}

.menu-nav {
    background: linear-gradient(90deg, #031ce8 30%, #ffffff 30%);
    z-index: 9;
}

.menu-nav li.nav-item a.nav-link {
    color: #031ce8 !important;
}

.bg-blue {
    background-color: #031ce8;
    outline: 0px !important;
}

#vitrine {
    padding-top: 3.5rem;
}

@media (max-width: 992px) {
    .menu-nav {
        background: linear-gradient(90deg, #031ce8 50%, #ffffff 50%);
    }

    .menu-nav .navbar-collapse {
        padding: 0.75rem;
    }

    .menu-nav .navbar-nav {
        box-shadow: 4px 0px 10px 2px #03082b
    }

    .menu-nav li.nav-item a.nav-link {
        color: #FFF !important;
        padding-left: 1rem;
        text-shadow: 1px 1px;
        border-bottom: 2px solid #ffffff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: 2px solid #031ce8;
    }

    .menu-nav .nav-item.show a.nav-link {
        background: linear-gradient(90deg, #ffffff 50%, #031ce8 50%) !important;
        color: #00052f !important;
    }

    .menu-nav .nav-item a.nav-link:hover {
        background: linear-gradient(90deg, #ffffff 50%, #031ce8 50%) !important;
        color: #00052f !important;
        border-radius: 5px;
    }

    .menu-nav .navbar-nav .dropdown-menu {
        border: 2px solid #031ce8;
    }

    .menu-nav .navbar-nav .dropdown-menu .dropdown-item {
        color: #031ce8;
    }

    .menu-nav .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: #031ce8;
        color: #FFF;
    }
}

.img-object-fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#newsletter {
    background: url('../_images/newsletter.png');
    background-color: rgba(3, 28, 232, 0.9);
}

.btn-newsletter {
    border-radius: 25px !important;
    position: absolute !important;
    right: -2px !important;
    color: #031ce8;
    z-index: 999;
}

.agrupamento-newsletter {
    z-index: 9;
}

.agrupamento-newsletter input {
    border-radius: 25px !important;
    background-color: rgb(3 8 56 / 50%);
    color: #FFF !important;
    padding-right: 5rem;
}

.agrupamento-newsletter input:focus {
    background-color: rgb(3 8 56 / 50%);
    z-index: 0 !important;
}

.bg-footer {
    background-color: #031ce8;
    border-top: 2px solid #FFF;
}

.noticia {
    margin-bottom: 0.75em;
    transition: padding 0.5s;
}

.noticia:hover {
    padding: 10px;
    background-color: #031ce8;
    transition: padding 0.5s;
}

.noticia:hover .categoria {
    margin-top: 10px;
    transition: margin-top 0.5s;
}

.categoria {
    position: absolute;
    background: rgb(255 20 147 / 0.75);
    padding: 0.25rem 0.5rem;
    color: #FFF;
    top: 0;
    box-shadow: 1px 1px 1px 2px black;
}

#carousel-vitrine .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
}

#carousel-vitrine .owl-nav .owl-next,
#carousel-vitrine .owl-nav .owl-prev {
    padding: 0 10px !important;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    font-size: 2em;
    outline: 0;
}

#carousel-vitrine .owl-nav .owl-next:hover,
#carousel-vitrine .owl-nav .owl-prev:hover {
    background-color: rgba(3, 28, 232, 0.75);
    color: #FFF;
}

#carousel-vitrine .owl-nav .owl-next {
    position: absolute;
    right: 0;
}

.text-blue{
    color: #031ce8;
}

.form-login{
    border: 1px solid red;
    padding: 1em;
}